---
title: EDU-Überprüfung
ms.author: cmcatee
author: cmcatee-MSFT
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
ms.localizationpriority: high
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 6490888a9b604894e19c3fa886b2829a04c680bc
ms.sourcegitcommit: 5afc3c4a1270409ed3691c90ba139878d845e7a3
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 06/10/2022
ms.locfileid: "66004625"
---
# <a name="edu-verification"></a>EDU-Überprüfung

In den meisten Fällen werden Anträge zur Überprüfung der Bezugsberechtigung innerhalb von 24–48 Stunden bearbeitet. Einige Anträge erfordern möglicherweise eine gründlichere Prüfung und können bis zu 10 Werktage in Anspruch nehmen. Nach Abschluss senden wir Ihnen eine E-Mail mit dem Berechtigungsstatus ihrer Schule.

**Wichtig** Wenn Sie den Überprüfungsassistenten vor der Eingabe einer Domäne verlassen haben, können Sie jederzeit [den Überprüfungsassistenten für die Überprüfung der Bezugsberechtigung](https://go.microsoft.com/fwlink/p/?linkid=2135255)mit der kostenlosen Testversion fortsetzen.

Wenn Sie den Status Ihrer Domäne überprüfen möchten, wechseln Sie zum [Microsoft 365 Admin Center](https://admin.microsoft.com/adminportal/home?ref=homepage). Scrollen Sie auf der Startseite nach unten, und suchen Sie nach der Karte **Abrechnung**. Die Karte **Abrechnung** zeigt den Status des Überprüfungsvorgangs an (genehmigt, ausstehend, abgelehnt, Domäne hinzufügen).

Wenn Ihr Antrag abgelehnt wurde, lesen Sie [Meine Schule ist nicht berechtigt. Was muss ich jetzt tun?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)