---
title: EDU-Überprüfung
ms.author: cmcatee
author: cmcatee-MSFT
manager: scotv
audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
ms.localizationpriority: high
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: d87d71566d0a387c2f0b063c532fa30ea715ffe9
ms.sourcegitcommit: b90a7c20c425b04cd580a7ff2c2a002ab4115ccb
ms.translationtype: MT
ms.contentlocale: de-DE
ms.lasthandoff: 09/26/2022
ms.locfileid: "68016877"
---
# <a name="edu-verification"></a>EDU-Überprüfung

Die Bearbeitung von Studienberechtigungsanträgen kann bis zu zwei Wochen dauern. Nach Abschluss des Vorgangs erhalten Sie eine E-Mail mit dem Berechtigungsstatus Ihrer Schule.

**Wichtig**: Wenn Sie den Überprüfungs-Assistenten vor der Eingabe einer Domäne beendet haben, können Sie jederzeit während Ihrer kostenlosen Testversion [den Assistenten für die akademische Überprüfung fortsetzen](https://go.microsoft.com/fwlink/p/?linkid=2135255).

Wenn Sie den Status Ihrer Domäne überprüfen möchten, wechseln Sie zum Microsoft 365 Admin Center, und scrollen Sie nach unten, um die Abrechnungskarte zu finden. Die Karte Abrechnung zeigt den Status des Überprüfungsvorgangs an (genehmigt, ausstehend, abgelehnt, Domäne hinzufügen).

Wenn Ihre Anfrage abgelehnt wird, lesen [Sie "Meine Schule ist nicht berechtigt". Was tue ich jetzt?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now).