---
title: 8000038 DSGVO– Überprüfung des untergeordneten Kontos
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: b961493b8ba27d873b502fd937836c5e9b37803a
ms.sourcegitcommit: 49eaa1417714617d768df85fd79b65e35b6e5c83
ms.translationtype: MT
ms.contentlocale: de-DE
ms.lasthandoff: 02/11/2022
ms.locfileid: "62553627"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Das in Ihrem Microsoft-Konto angezeigte Geburtsdatum ist falsch.

Microsoft nimmt die Sicherheit sehr ernst. Möglicherweise wurden Sie kürzlich aufgefordert, die Zustimmung der Eltern für das Microsoft-Konto eines Untergeordneten zu erteilen. Wenn Sie Hilfe bei der Bereitstellung der Zustimmung der Eltern oder beim Aktualisieren des Geburtsdatums für ein Microsoft-Konto benötigen, finden Sie unter ["Altersüberprüfung" die Zustimmung der Eltern](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Erfahren Sie mehr über [die Zustimmung der Eltern und über Microsoft-Kinderkonten](https://go.microsoft.com/fwlink/p/?linkid=874365).
  