---
title: 8000038 überprüfung des DSGVO-Kinderkontos
ms.author: daeite
author: daeite
manager: jackiesm
audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
ms.localizationpriority: medium
ms.custom:
- "8000038"
- "772"
- "788"
ms.date: 04/21/2020
ms.openlocfilehash: 6bc88c19c70f003162c01aafc499c26d51682017
ms.sourcegitcommit: c4e8c29a94f840816a023131ea7b4a2bf876c305
ms.translationtype: MT
ms.contentlocale: de-DE
ms.lasthandoff: 06/29/2022
ms.locfileid: "66323211"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Das in Ihrem Microsoft-Konto angezeigte Geburtsdatum ist falsch.

Microsoft nimmt die Sicherheit sehr ernst. Möglicherweise wurden Sie kürzlich aufgefordert, die elterliche Zustimmung für das Microsoft-Konto eines Kindes einzufordern. Wenn Sie Hilfe bei der Erteilung der elterlichen Zustimmung oder beim Aktualisieren des Geburtsdatums in einem Microsoft-Konto benötigen, lesen Sie die [Altersüberprüfung, um die elterliche Zustimmung zu erhalten](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Erfahren Sie mehr über [elterliche Zustimmung und Microsoft-Kinderkonten](https://go.microsoft.com/fwlink/p/?linkid=874365).
  