---
title: Problembehandlung bei Publisher-Überprüfung
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
ms.localizationpriority: high
ms.custom:
- "9004323"
- "7712"
ms.date: 01/15/2021
ms.openlocfilehash: 375a7d508e93e836f9339ffe954c3dedfc4563f3
ms.sourcegitcommit: c4e8c29a94f840816a023131ea7b4a2bf876c305
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 06/29/2022
ms.locfileid: "66261658"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Probleme bei der Publisher-Überprüfung für Publisher

**Empfohlene Schritte** 

Um Probleme im Zusammenhang mit der Publisher-Überprüfung zu lösen, führen Sie die folgenden Schritte aus:

1. Überprüfen Sie die Voraussetzungen und andere Anforderungen, um sicherzustellen, dass alle erfüllt sind.
2. Überprüfen Sie die Anweisungen, um [eine App als vom Herausgeber überprüft zu kennzeichen ](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) und um sicherzustellen, dass alle Schritte erfolgreich durchgeführt wurden.
3. Überprüfen Sie die Liste [häufiger Probleme](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) und befolgen Sie die empfohlenen Schritte, wenn Sie ein Problem aus einer solchen Liste haben.
4. Reproduzieren Sie die Anfrage, indem Sie [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) verwenden, um zusätzliche Informationen zu sammeln und jegliche Probleme in der Benutzeroberfläche auszuschließen.

**Empfohlene Dokumente**

- [Publisher-Überprüfung – Übersicht](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Markieren Sie Ihre App als vom Herausgeber überprüft](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Problembehandlung bei Publisher-Überprüfung](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

